---
layout: default
title: About
permalink: /about/
---

<h2>Über More Dimensions </h2>
<hr>

{% include Parallax.html image="https://images.pexels.com/photos/159298/gears-cogs-machine-machinery-159298.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb" height="300px" %}

<p>Die more dimensions GmbH mit Sitz in Wien und Kufstein wurde 2008 von Heinz Repper und DI (FH) Thomas Moser gegründet (siehe auch <a href="#!">Interview im News-Bereich</a>). Mit unserem Softwarepaket evis (Eventmanagement-Informationssystem) sind wir auf integrierte Management-Lösungen für <a href="#!">Veranstaltungsbetriebe </a>, <a href="#!">Konzerthäuser</a>, <a href="#!">Orchester</a> und <a href="#!">Festivals</a> sowie auf Lösungen aus den Bereichen <a href="#!">Facility Management</a> und <a href="#!">Serverhosting</a> spezialisiert. In unserer Arbeit bedienen wir uns zukunftsweisender und in der Praxis erprater Methoden, Verfahren und Technologien, um für unsere Kunden ein Höchstmaß an Langlebigkeit und Investitionssicherheit zu gewährleisten. <br><br>
  Organisationsberatung, Software-Entwicklung, Server-Hosting und an den Workflows der Kunden orientierte Implementierung sind für uns gleichberechtigte Parameter für erfolgreiche Projekte. Unsere Kunden profitieren von unserer langjährigen Erfahrung genau in jenen Branchen, für die wir unsere Lösungen anbieten. Unsere Projekte sind geprägt von einem Höchstmaß an Qualität, Kostenwahrheit und Termintreue – unterstützt durch unser methodisch-strukturiertes Vorgehen sowie professionelle Planung, Steuerung und Qualitätssicherung. <br><br>
  Die partnerschaftliche Zusammenarbeit mit unseren Kunden ist eine wesentliche Voraussetzung für unsere Arbeit. Die Weiterentwicklung unseres Teams sowie der regelmäßige inhaltliche Austausch durch Kooperationen mit Universitäten, Instituten und Verbänden bildet jene Wissensbasis, die in die permanente Weiterentwicklung unserer Produkte einfließt. <br>
  <a href="#!" href="#!">Kontaktieren</a> Sie uns – und wir zeigen Ihnen in einer <a href="#!">persönlichen Präsentation</a> im Detail unsere Produkte, unsere Dienstleistungen und vor allem: Die Menschen, die bei more dimensions für reibungslose, kompetente und intelligente Projektverläufe verantwortlich sind. <br>
</p>

<h4>Geschätftsführer</h4>
<hr>

<div class="row">
  {% for boss in site.data.about.boss %}
  <div class="col m6 xs12">
    <div class="card hoverable">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="http://www.moredms.com/images/stories/mainpictures/hr_tm.png">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">{{ boss.name }}<i class="material-icons right">more_vert</i></span>
        <p>{{ boss.position }}</p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">{{ boss.name }}<i class="material-icons right">close</i></span>
        <p>{{ boss.text }}</p>
     </div>
    </div>
  </div>
  {% endfor %}
</div>

<style>
  a {
    color: #F66728;
  }
</style>