<h4>Geschätftsführer</h4>
<hr>
<div class="row">
  {% for boss in site.data.about.boss %}
  <div class="col m6 xs12">
    <div class="card hoverable">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="http://www.moredms.com/images/stories/mainpictures/hr_tm.png">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">{{ boss.name }}<i class="material-icons right">more_vert</i></span>
        <p>{{ boss.position }}</p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">{{ boss.name }}<i class="material-icons right">close</i></span>
        <p>{{ boss.text }}</p>
     </div>
    </div>
  </div>
  {% endfor %}
</div>