---
layout: default
title: Kontak & Impressum
permalink: /contact_imprint
---

<h4>Treten Sie in Kontakt mit uns</h4>
<hr>

<div class="row">
  <div class="col s12">
    <p>{{ site.data.contact_imprint.contact.content }}</p>
  </div>
  <div class="col s6">
    <h5>{{ site.data.contact_imprint.contact.title }}</h5>
    <hr>
    {% for position in site.data.contact_imprint.contact.positions %}
      <div class="col s12">
        <h5>{{ position.title }}</h5>
        {% for position in site.data.contact_imprint.contact.positions %}
          <p>{{ position.name }}</p>
        {% endfor %}
        {% if position.mail != null %}
          <p><strong>mail:</strong><span class="orange-text darken-4"> {{ position.mail }}</span></p>
        {% endif %}
        {% if position.mobile != null %}
        <p><strong>mobile:</strong>{{ position.mobile }}</p>
        {% endif %}
      </div>
    {% endfor %}
  </div>
  <div class="col s6">
    <h5>Impressum</h5>
    <hr>
    {% for c-location in site.data.contact_imprint.imprint.company-locations %}
    <p>
      {{ c-location.title }}
      {{ c-loaction.c-name }} <br>
      {{ c-location.location }} <br>
      <strong>tel: </strong>{{ c-location.tel }} <br>
      <strong>fax: </strong>{{ c-location.fax }} <br>
      <strong>mail: </strong><span class="orange-text darken-4">{{ c-location.mail }}</span>
    </p>
    {% endfor %}

    <h5>{{ site.data.contact_imprint.imprint.title }}</h5>
    <hr>
    {{ site.data.contact_imprint.imprint.content }}
  </div>
</div>
