---
layout: default
title: Facility Management
permalink: facility_management
---

<h4>pit-fm für Facillity Management</h5>
<hr>

<div class="row">
  <div class="col s12">
    <p>{{ site.data.facillity_management.first }}</p>
  </div>
  <div class="col s12 m6">
    <ul>
      {% for item in site.data.facillity_management.second %}
      <li><span class="orange-text darken-4"><strong>> </strong></span><strong>{{ item.title }}</strong></li>
      <ul>
        <li style="padding-left: 20px;">{{ item.content }}</li>
      </ul>
      <br>
      {% endfor %}
    </ul>
  </div>
  <div class="col s12 m6">
    <h5>Zusatznutzungen: </h5>
    <ul>
        {% for item in site.data.facillity_management.third %}
        <li><span class="orange-text darken-4"><strong>> </strong></span><strong>{{ item.title }}</strong></li>
        <ul>
          <li style="padding-left: 20px;">{{ item.content }}</li>
        </ul>
        <br>
        {% endfor %}
      </ul>
  </div>
</div>

<style scoped>
  p {
    white-space: pre-line;
  }
</style>