---
layout: default
title: Referenzen
permalink: /references
---

<h2>{{ page.title }}</h2>
<hr>

<p>{{ site.data.references.first-p }}</p>

<div class="row">
  {% for reference in site.data.references.references %}
  <div class="col s12 m4">
    <h5>{{ reference.title }}</h5>
    {% for item in reference.companies %}
      <p> <span class="orange-text darken-4"><strong> > </strong></span> {{ item.name }}</p>
    {% endfor %}
  </div>
  {% endfor %}
</div>

<p>{{ site.data.references.second-p }}</p>